{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <!DOCTYPE html>

    <html>
    
    <head>
        <meta charset="utf-8">
        <title>Formular</title>
        <style>
                input{
                    display: block;
                    margin-left: 20px;
                }
                label{
                    display: block;
                    margin-left: 20px;
                }
                h1{
                    display: block;
                    margin-left: 20px;
                }
                button{
                    display: block;
                    margin-left: 20px;
                }
        </style>

        <script src="static/editor.js"></script>
    
    </head>
    
    <body>
    
        <h1>Create your own Style</h1>
    
        <form method = 'POST'>
    


            <div class 


            <br><br><br>

            <div class="row" style="margin-top: 3%">
                <label>Name der Kopfbedeckung: </label><input type="text" id="NameKopfbedeckung" name="NameKopfbedeckung" required>
                <label>URL: </label><input type="url" id="urlKopfbedeckung" name="urlKopfbedeckung" required>
            </div>

            <div class="row" style="margin-top: 3%">
                <button type="button" class="btn btn-primary" onclick="KopfLoad();">Load</button>


                <div class="flex">
                    <img src="" id="bildKopf" style="
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;width: 100px;max-height: 200px;" >
                </div>
            </div>  

            <div class="row" style="margin-top: 3%">
                <label>Name des Oberteils: </label><input type="text" id="NameOberteil" name="NameOberteil" required>
                <label>URL: </label><input type="url" id="urlOberteil" name="urlOberteil" required>
            </div>

            <div class="row" style="margin-top: 3%">
                <button type="button" class="btn btn-primary" onclick="oberteilLoad();">Load</button>
                <div class="flex">
                    <img src="" id="bildOberteil" style="
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;width: 100px;max-height: 200px;" >
                </div>
            </div>  


            <div class="row" style="margin-top: 3%">
            <label>Name des Unterteils:</label><input type="text" id="NameUnterteil" name="NameUnterteil" required>
            <label>URL: </label><input type="url" id="urlUnterteil" name="urlUnterteil" required>
            </div>

            <div class="row" style="margin-top: 3%">
                <button type="button" class="btn btn-primary" onclick="unterteilLoad();">Load</button>

                <div class="flex">
                    <img src="" id="bildUnterteil" style="
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;width: 100px;max-height: 200px;" >
                </div>
            </div> 


            <div class="row" style="margin-top: 3%">
            <label>Name der Schuhe:</label><input type="text" id="NameSchuhe" name="NameSchuhe" required>
            <label>URL: </label><input type="url" id="urlSchuhe" name="urlSchuhe" required>
            </div>

            <div class="row" style="margin-top: 3%">
                <button type="button" class="btn btn-primary" onclick="schuheLoad();">Load</button>

                <div class="flex">
                    <img src="" id="bildSchuhe" style="
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;width: 100px;max-height: 200px;" >
                </div>
            </div> 

            <br><br><br>
            <label>Ihre Hashtag: </label><input type="text" id="Hashtag" name="Hashtag" required>
            <br><br><br>
            <button type="submit" class="btn btn-primary">Save</button>      
            <br><br><br><br><br><br>          
    
        </form>
    
    </body>
    
    </html>
    {% endblock %}